extends layout

block content
  h1= title
  p Welcome to #{title}
  p On retourne la liste des Equipes !
  a.btn.btn-info(href='/team', role='button') Go see the teams
  p
  a.btn.btn-info(href='/player', role='button') Go see a player
